@import "@{templateCommon}/basekit-bootstrap.less";


.bk-pt-default {

}





/* ===============================
   LOGO, NAV AND PROFILE WIDGETS
   =============================== */

   .logo-nav-info {
    position: fixed;
    height: 100%;
    width: 25%;
    padding: 2.5em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: @color-swatch7;
    @media only screen and (min-width: 1400px) {
        width: 312px;
    }
    @media @tablet {
        width: 100%;
        position: relative;
        padding: 0 5%;
        height: auto;
        overflow-y: initial;
        overflow-x: initial;
    }
    .flexcontainer {
        @media @tablet {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-direction: normal;
            -moz-box-direction: normal;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: start;
            -moz-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
            align-content: flex-start;
            -webkit-box-align: start;
            -moz-box-align: start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
        }
    }
    @-moz-document url-prefix() {
    .flex-container {
        width: 100%;
        -moz-box-sizing: border-box;
        }
    }
    .companylogo, .info-one, .info-two, .nav {
        margin-bottom: 2em;
        display: inline-block;
        width: 100%;
        @media @tablet {
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            -webkit-align-self: auto;
            -ms-flex-item-align: auto;
            align-self: auto;
        }
    }
    .companylogo {
        margin-top:1.4em;
        .widget.logo .logo img {
            max-width: 100%;
            @media @tablet {
                max-width: 275px;
            }
        }
    }
    @media @tablet {
        .companylogo, .info-one, .info-two, .nav {
            width: 100%;
        }
        .companylogo {
            -webkit-box-ordinal-group: 3;
            -moz-box-ordinal-group: 3;
            -webkit-order: 2;
            -ms-flex-order: 2;
            order: 2;
        }
        .info-one {
            -webkit-box-ordinal-group: 4;
            -moz-box-ordinal-group: 4;
            -webkit-order: 3;
            -ms-flex-order: 3;
            order: 3;
        }
        .nav {
            -webkit-box-ordinal-group: 2;
            -moz-box-ordinal-group: 2;
            -webkit-order: 1;
            -ms-flex-order: 1;
            order: 1;
            min-height: 45px;
        }
        .info-two {
            -webkit-box-ordinal-group: 5;
            -moz-box-ordinal-group: 5;
            -webkit-order: 4;
            -ms-flex-order: 4;
            order: 4;
        }
    }
}

/* ===============================
   MAIN FEATURE AND ZONE-AREA
   =============================== */

body {
    background-color: darken(@color-swatch1,5%);
}

.wrapper {
    width: 100%;
    margin: 0;
    @media only screen and (min-width: 1140px) {
        width: 1024px;
        margin: 0;
    }
}

.main {
    padding: 5%;
    background-color: @color-swatch1;
}

.mainfeature {
    width: 100%;
    @media only screen and (min-width: 1140px) {
        width: 1024px;
    }
}

.zone-area {
    padding-left: 25%;
    @media only screen and (min-width: 1400px) {
        padding-left: 312px;
    }
    @media @tablet {
        padding-left:0;
    }
}

/* MAIN FEATURE */

.widget.feature .feature-bgimg .content {
    vertical-align: bottom;
    .spare {
        padding: 0 5%;
        background-color: lighten(@color-swatch1, 50%);
        width: 50%;
        float: right;
        text-align: right;
        padding-top: 2em;
        @media only screen and (max-width: 1400px) {
            background-color: hsla(hue(@color-swatch1), saturation(@color-swatch1), lightness(lighten(@color-swatch1,10%)), 0.7);
            width: 100%;
            text-align: left;
            float: left;
        }
    }
}

.widget.feature button { 
    background-color: @color-swatch2;
    color: @color-swatch4;
}

/* ===============================
   EXTENDED NAVIGATION
   =============================== */

div.widget {
    &.extendednavigation {
        width: 100%;
        ul {
            li:first-child {
                border-top: 1px solid lighten(@color-swatch7,5%);
            }
            li {
                width: 100%;
                border-bottom: 1px solid lighten(@color-swatch7,5%);
                a, .text {
                    padding: 15px 0;
                    width: 100%;
                }
                ul {
                    width: 100%;
                    li {
                        background-color: @color-swatch7;
                        a {
                            padding: 0;
                        }
                        .text {
                            padding: 15px 0;
                        }
                    }
                }
            }
        }
        a {
            &.pull {
                @media @tablet {
                    top: 15px;
                    left:0;
                    width: 26px;
                    height: 26px;
                    &:after {
                    }
                }
            }
        }
    }
}